html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Carlito;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-text {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  * {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

@font-face {
  font-display: swap;
  font-family: Carlito;
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/carlito-v3-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Carlito;
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/carlito-v3-latin-700.woff2") format("woff2");
}

* {
    tabindex=-1
}

/* Buttons */


.standard-button:hover:enabled {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.standard-button:active:enabled {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

.standard-button:disabled {
  filter: grayscale(20%);
}

/* History Panel */


/* Cards */

.clickable-option-overlay {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    width: 100%;
    height: 100%;

    border: solid;
    border-color: rgba(255, 255, 255, 0.4);
}

.clickable-option-overlay:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
